#educationDiv {
    width: 100vw;
    height: auto;
    background-color: #e8685d;
    display: inline-block;
    position: relative;
    top: 39vw;
    z-index: 200;
  }

  #education {
    font-family: 'League Script', cursive;
    z-index: 3500;
    color: #f3cf47;
    font-size: 80px;
    padding-top: 2vw;
    text-align: center
  }

  div.card {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 1vw
  }
  
  div.header {
    background-color: white;
    color: black;
    padding: 7px;
    font-size: 40px;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    height: 120px;
    width: 400px
  }
  
  div.container {
    padding: 10px;
    background-color:#3a8d91;
  }

  #box {
    display: flex;
    justify-content: center;
  }

  #edContainer {
    /* font-size: 40%; */
    height: 485px;
    width: 400px;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    margin-bottom: 50px
  }

  #font {
    font-size: 23px;
    color: white;
    font-family:'Nunito', sans-serif;
  }

  #font1 {
    font-size: 23px;
    color: black;
    font-style: bold;
    font-family:'Nunito', sans-serif;
  }


  #date {
    font-family: 'Nunito', sans-serif;
    color: #f3cf47;
    font-size: 40px
  }

  h6 {
    font-family:'Nunito', sans-serif;
  }

  #gcc {
    vertical-align: bottom
  }

  #cuImg {
    width: 375px
  }

  #gccImg {
    height: 95px;
    width: 285px
  }

  #duImg {
    height: 95px;
    width: 240px
  }

  #cuImg, #duImg, #gccImg {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  /* #bootcamp, #masters, #college {
    flex-basis: 100%
  } */

  @media only screen and (max-width: 1300px) {
    #box {
      display: grid;
    }
  }

  @media only screen and (max-width: 445px) {
   div.card {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px
      
    }

    #edContainer, div.header {
      width: auto
    }

    #edContainer {
      height: auto
    }

    #cuImg, #duImg, #gccImg {
      width: 100%;
    }

    #cuHeader {
      height: 85px
    }
  }