* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white
}

.text, .crack {
  justify-content: center;
}

.wrap {
  position: fixed;
  top: 20px;
  right: 40px;
}
.text {
  font-size: 15vw;
  line-height: .8;
  color: black;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  z-index: 1000;
}
.wrap .text:nth-child(2),
.wrap .text:nth-child(3),
.crack {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap .text:nth-child(1) {
  clip-path: polygon(100% 0, 3% 0, 100% 97%);
  transition: transform .6s;
}
.wrap .text:nth-child(2) {
  clip-path: polygon(0 3%, 0% 100%, 97% 100%);
}
.wrap .text:nth-child(3) {
  opacity: 1;
  transition: opacity .1s .6s;
}
.crack {
  background-color: white;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 3%, 3% 0, 100% 97%, 97% 100%);
  transform: translate(-100%, -100%);
  transition: transform .3s;
}
.wrap:hover .crack{
  transform: translate(0, 0);
}
.wrap:hover .text:nth-child(3) {
  opacity: 0;
  transition: opacity .1s .3s;
}
.wrap:hover .text:nth-child(1) {
  transition: transform .6s .5s;
  transform: translate(10%, 10%);
}

.last-name {
  position: absolute;
  top: 55%;
  right: 17%;
  font-family: 'League Script', cursive;
  z-index: 100;
  color: #f3cf47;
  font-size: 11vw;
  z-index: 1000
}


