html {
  scroll-behavior: smooth;
}

.bm-cross {
    background: 
    #f3cf47;
  }

.bm-menu {
    background: 
    #3a8d91;
  }

  .bm-morph-shape {
    fill: 
    #3a8d91;
  }

  .bm-item-list {
    color:black;
    padding: 0.8em;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: black;
  }

  .menu-item {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      color: #f3cf47
  }

#homeNav, #aboutNav, #skillsNav, #techniquesNav, #educationNav, #recentNav {
  font-size: 30px;
  font-family:'Nunito', sans-serif;
  
}